/* Footers */
footer.website{
  position:relative;
  background:adjust-lightness(#2c2c2c, 5);
  .inner-footer-website{
    width:$width-container;
    margin:0 auto;
    text-align:center;
    .copyright{
      padding:15px 0 10px;
      font-size:12px;
      color:#aaa;
      text-align:center;
      ;
    }
    
  }
}